.ol-custom-overviewmap{
  left: 2510px;
  bottom: 220px;
  position: fixed;
}

/* OverviewMapControl의 헤더 부분 스타일 */
.ol-custom-overviewmap .ol-overviewmap-map {
  /* 여기에 헤더 부분에 대한 스타일을 추가하세요 */
  position: fixed;
    right : 50px;
    bottom: 220px;
    width: 200px; /* 오버뷰맵의 넓이 조절 */
    height: 150px; /* 오버뷰맵의 높이 조절 */
    border: 2px solid #000; /* 테두리 스타일 및 색상 조절 */
    z-index: 0; /* 버튼 뒤에 위치하도록 z-index 설정 */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .show {
    display: block;
  }

  #mouseCoordinate {
    position: absolute;
    bottom: 110px;
    left: 1200px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width: 300px; /* 원하는 가로 크기로 조절 */
    height: 150px; /* 원하는 세로 크기로 조절 */
  }

  .mposition {
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    max-width: 250px;
}

#scale-bar {
  position: absolute;
  bottom: 220px;
  left: 1000px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

#set-view, #zoom-in, #zoom-out, #btnGoBack, #btnGoForward{
  background-color: white;
  color: black;
  padding: 1px 5px;
  font-size: 16px;
  font-weight: bold; 
  border: 2px solid black;
  cursor: pointer;
  margin-right: 5px;
  width: 35px;
  height: 25px;
}

.button-container {
  
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#refresh, #measureLine, #measurePolygon, #measureCircle, #imageDownload, #retrieve{
  background-color: white;
  color: black;
  padding: 1px 5px;
  font-size: 16px;
  font-weight: bold; 
  border: 2px solid black;
  cursor: pointer;
  margin-right: 5px;
  width: 35px;
  height: 25px;
}

.draw-container {
  
  position: fixed;
  top: 140px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.download-container {
  
  position: fixed;
  top: 250px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.retrieve-container {
  
  position: fixed;
  top: 280px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.custom-checkbox {
  /* custom-checkbox 스타일 */
  background-color: #f1f1f1;
}

.custom-checkbox.selected {
  /* 선택된 custom-checkbox 스타일 */
  background-color: #CCCCCC;
  font-weight: bold;
}

.context-menu {
  /* 컨텍스트 메뉴 스타일 */
  position: absolute;
  background-color: white;
  border: 1px solid #CCCCCC;
  padding: 10px;
  display: none;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}
